<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">Categorias</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content>
     <ion-list>
       <ion-item *ngFor="let item of items" (click)="showProdutos(item.id)">
        <ion-thumbnail slot="start">
          <img src="{{bucketURL}}/cat{{item.id}}.jpg"/>
        </ion-thumbnail>
        <h2>{{item.nome}}</h2>
      </ion-item> 
     </ion-list>
  </ion-content>